@import "../../../../../../../../styles/variables";

.wrapper {
    min-width: 160px;
    max-width: 280px;
    display: flex;
    justify-content: space-between;

    &PageNumber {
        font-family: $font-main;
        font-size: $font-size-s;
        display: block;
        padding: 5px;
        border-radius: 2px;
        margin: 1px;
        
        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }

        &:disabled {
            color: lightblue;
        }

        &Active {
            font-weight: $weight-bold;
            background-color: $color-main;
        }
    }
}