@import "./base.module.scss";
@import "../../../../../../../../styles/breakpoints";
@import "../../../../../../../../styles/breakpoints";


@media (min-width: $breakpoint-1) {
    .wrapper {
        padding: 10px;

        &Arrow {
            width: 18px;
            height: 18px;
            margin: 4px;
        }
    }
}
