@import "../../../../../../../styles/variables";

.wrapper {
    padding-top: 5px;
    margin: 0 auto;
    max-width: 350px;

    display: flex;
    align-items: center;
    justify-content: center;
}